# * baka 0.2.0
# This is Entry file example. See baka(1) for more info.

# Local storage.
#
# Specify path to store local backups.
local    =   /srv/example.org/backups

# Remote storage.
#
# You can override global remote storage configuration there.
# See baka(1) or baka.conf example /etc/baka/baka.conf
#remote   =   rsync://backups@123.45.67.89:2022/home/backups

# Filename prefix.
#
# If you want override autoprefix set prefix there.
prefix   =   example.org_

# Archive files adn directories.
#
# Files be archived with tar into .tar.gz format.
#archive  =   /srv/http/example.org/public

# Exclude.
#
# You can exclude some files and directories from archive.
# Items can be set in one line comma separated.
exclude  =   backups,logs,env,__pycache__,node_modules

# Copy file or directory.
#
# Simple copy file of directory via 'cp' without compression.
# NOTE: 'exclude' varioable not affects on 'copy'.
#copy     =   /srv/http/example.org/data.zip

# Database.
#
# Dump MySQL/MariaDB or PostgreSQL database. Requisites must be passed as
# DB URI. For example:
#   [schema]://[user[:password]]@[host[:port]]/[database]
# Available schemas:
#   For MySQL/MariaDB: mysql, mariadb
#   For PostgreSQL: postgresql, postgres, psql
database =   postgres://user:password@localhost:5432/database

# Commands.
#
# You can execute any Bash command from Entry. This feature is disabled
# by default.
#command  =   /srv/http/example.org/dump.py --save /srv/http/example.org/data.zip
